<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0"><a class="nav-link " href="{% url 'index' %}">{Agenda_}</a></h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a
        class="nav-link fw-bold py-1 px-0"
        aria-current="page"
        href="{% url 'index' %}"
        >Home</a
      >
      <a class="nav-link fw-bold py-1 px-0" href="{% url 'contacts' %}">Contactos</a>
      <a class="nav-link fw-bold py-1 px-0" href="{% url 'tasks' %}">Tareas</a>
    </nav>
  </div>
</header>