<form role="search" action="{% url 'tasks' %}" method="GET">
    <div class="row justify-content-center">
        <div class="col-auto">
            <p class="lead">
                <input class="form-control me-2" type="text" name="search" placeholder="Buscar tarea">
            </p>
        </div>
        <div class="col-auto">
            <p class="lead">
                <input class="btn btn-light fw-bold border-white" type="submit" value="Buscar">
            </p>
        </div>
    </div>
</form>