{% extends "layout/base.html" %}

{% block title %}| Detalle Tarea{% endblock title %}

{% block content %}

    <nav class="nav justify-content-center">
        <a class="nav-link link-info italic" href="{% url 'tasks' %}">Volver atrás</a>
    </nav>

    <ul class="list-group list-group-flush text-start">
        <li class="border border-0 text-bg-dark list-group-item list-group-item-action list-group-item-secondary" >
            <b>Título: </b>{{ task.title }}
        </li>
        <li class="border border-0 text-bg-dark list-group-item list-group-item-action list-group-item-secondary" >
            <b>Descripción: </b>{{ task.description }}
        </li>
        <li class="border border-0 text-bg-dark list-group-item list-group-item-action list-group-item-secondary" ><b>Fecha término estimada: </b>
            {{ task.estimated_end  | default:""}}
        </li>
        <li class="border border-0 text-bg-dark list-group-item list-group-item-action list-group-item-secondary" >
            <b>Prioridad: </b>{{ task.priority }}
        </li>
    </ul>

{% endblock content %}